@use '/src/styles/constants/colors';

.predictWrapper {
  .predictInner {
    height: 400px;
    background: colors.$WHITE;

    h3 {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 700;
    }

    dl {
      line-height: 20px;

      dt {
        display: none;
      }

      .highlightTxt {
        box-shadow: inset 0 -10px 0 #ffc000;

        &.textRed {
          color: colors.$RED;
        }

        &.textBlue {
          color: colors.$BLUE;
        }

        &.textGrey {
          color: colors.$GRAYA;
        }
      }
    }
  }
}
