@use '/src/styles/constants/colors';

.predictWrapper {
  font-size: 16px;

  .predictInner {
    height: 330px;
    background: colors.$WHITE;

    mark {
      background: none;
    }

    h3 {
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 700;
    }

    dl {
      p {
        font-size: 16px;
        line-height: 130%;
      }

      dt {
        display: none;
      }

      .highlightTxt {
        position: relative;
        font-weight: 900;

        &::before {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 50%;
          content: '';
          background-color: colors.$KB_YELLOW;
          opacity: 0.4;
        }

        &.textRed {
          color: colors.$RED;
        }

        &.textBlue {
          color: colors.$BLUE;
        }

        &.textGrey {
          color: colors.$GRAYA;
        }
      }
    }
  }
}
