@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.phone {
  position: relative;
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  overflow: hidden;
  background-color: colors.$BLACK;
  border-radius: 50px;

  &::before {
    position: absolute;
    display: block;
    width: 98%;
    height: 99.7%;
    margin: 0 2px;
    content: '';
    border-top: 2px solid colors.$GRAYE;
    border-bottom: 2px solid colors.$GRAYE;
    border-radius: 50px;
    box-shadow: inset 1px 1px 6px 0 colors.$GRAYE;
  }

  .top {
    position: relative;
    @include flexbox.flexbox(center, center);
    height: 65px;

    .camera {
      position: absolute;
      left: -20px;
      width: 10px;
      height: 10px;
      background-color: colors.$GRAY5E;
      border-radius: 10px;
    }

    .speaker {
      width: 60px;
      height: 6px;
      background-color: colors.$BLACK;
      border: 1.5px inset;
      border-radius: 20%;
    }
  }

  .screen {
    z-index: 10;
    width: 360px;
    height: 640px;
    margin: 0 15px;
    overflow: auto;
    border-radius: 2px;
  }

  .bottom {
    @include flexbox.flexbox(center, center);
    height: 80px;

    .homeBtn {
      width: 50px;
      height: 50px;
      background: linear-gradient(to top right, colors.$GRAYD, colors.$GRAY2, colors.$GRAYD);
      border-radius: 50%;

      &::after {
        display: block;
        width: 88%;
        height: 88%;
        margin: 5% auto;
        content: '';
        background: colors.$BLACK;
        border-radius: 50%;
      }
    }
  }
}
