// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;
$GRAY5E: #5e5e5e;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$KB_BEIGE: #fff9d9;
$KB_B_BORDER: #faf2c1;
$KB_B_DARKER: #dcd9cd;
$KB_GREY: #808080;
$KB_YELLOW: #ffc000;
$KB_ORANGE: #ff833d;
$KB_TAG: #fff2cc;

$KB_CARD_GREEN: #1ad740;
$KB_CARD_PURPLE: #811962;
$KB_CARD_BLUE: #00a1d9;
$KB_CARD_LIGHTBLUE: #baf5ff;
$KB_CARD_PINK: #f20b97;
$KB_CARD_YELLOW: #e1a42b;
$KB_CARD_LIGHTPINK: #fbb5df;
$KB_CARD_MINT: #29fbc1;
