@use '/src/styles/constants/colors';

.app {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: colors.$GRAYD;

  .inner {
    width: 340px;
    height: 680px;
    padding: 20px;
    background-color: colors.$WHITE;
  }
}
