@use '/src/styles/constants/colors';

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  white-space: nowrap;
  background-color: colors.$KB_TAG;
  border-radius: 20px;

  mark {
    font-size: 12px;
    font-weight: 700;
    color: colors.$BLACK;
    background: none;
  }

  + div {
    background-color: colors.$GRAYD;
  }
}
